<footer>
    <div class="footer_all">
        <div class="footer_logo">
            <p>© FeedME.com2024</p>
        </div>
        <div>
            <a href="home.html"><p>About Us</p></a>
            <a href="home.html"><p>Contact Us</p></a>
            <a href="home.html"><p>Terms and Conditions</p></a>
        </div>
        <div>
            <a href="home.html"><p>Facebook</p></a>
            <a href="home.html"><p>Instagram</p></a>
            <a href="home.html"><p>Twitter</p></a>
        </div>
        <div>
            <p>Subscribee</p>
            <input type="text" placeholder="Email@email" class="subscribe">
        </div>
    </div>
</footer>