<footer>
    <div class="footer_all">
        <div class="footer_logo">
        </div>
        <div>
            <h2>Permalinks</h2>
            <a [routerLink]="['/about_us']"><p>About Us</p></a>
            <a [routerLink]="['/contact_us']"><p>Contact Us</p></a>
            <a href="home.html"><p>Terms and Conditions</p></a>
        </div>
        <div>
            <h2>Privacy</h2>
            <a [routerLink]="['/about_us']"><p>Privacy Policy</p></a>
            <a [routerLink]="['/contact_us']"><p>Terms & Conditions</p></a>
            <a [routerLink]="['/contact_us']"><p>Cookie Policy</p></a>
        </div>
        <div>
            <h2>Contact Us</h2>
            <a [routerLink]="['/about_us']"><p>Phone:</p></a>
            <a [routerLink]="['/contact_us']"><p>E-mail:</p></a>
            <a [routerLink]="['/contact_us']"><p>Socials</p></a>
        </div>
        <div>
            <p>Subscribe <strong>:</strong></p>
            <input id="Bad" type="text" placeholder="Email@email" class="subscribe">
        </div>
    </div>
    <div class="footer-copyright">
        <small>© FeedME.com ALXSE_2023</small>
    </div>
</footer>