<mat-spinner *ngIf="loading"></mat-spinner>

<div class="container" *ngIf="!loading">
    <div class="inside">
      <h1 class="Title">{{ meal.name }}</h1>
    </div>
  
    <div class="information">
      <div class="img">
        <img [src]="meal.image" alt="{{ meal.name }}">
      </div>
      <div class="lists">
        <h2>Ingredients:</h2>
        <div class="list1">
          <ol *ngFor="let ingredient of meal.ingredients">{{ ingredient }}</ol>
        </div>
        <div class="par">
          <h2>Instructions:</h2>
          <p class="inst-info">{{ meal.description }}</p>
        </div>
      </div>
    </div>
  </div>
  

<app-random-recipes></app-random-recipes>