.recipe {
    background-color: #fffbe1;
    max-width: 1300px;
    margin: 48px auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 15px, rgba(0, 0, 0, 0.23) 0px 3px 15px;
}

.info {
    padding: 30px 5% 60px 5%;
}

.double-info {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 555px;
    height: 555px;
    object-fit: cover;
}

.picture1 {
    flex: 1;
    margin-top: 0;
}

.description {
    flex: 1;
}

.all-info {
    padding: 0 50px;
}

.lists {
    display: flex;
}

.inst-info {
    padding-left: 40px;
}