<img class="slider" src="../../assets/images/slider.png" alt="">


<div class="select">
    
    <h1>Choose Your Ingredient</h1>
    
    <input class="search" type="text" placeholder="Search for your ingrediants">
    
    <div class="ingrediants">
        
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/41455533fbd6ea448b29c38a9d6ffece.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Oil</p>
        </div>
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/6d155ae7a1ae3c04fe59919c9dd6273c.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Tomato</p>
        </div>
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/15095a53b34c90265ddcc609a5d14064.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Carrot</p>
        </div>  
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/a1bd1e91a3a97ee045604fe8454afaa0.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Onion</p>
        </div> 
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/902b80f39b3ba2a316aaa51136dfd032.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Spinach</p>
        </div> 
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/71827d02865f331a89e8bdb99be96c5c.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Garlic</p>
        </div>  
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/f7b60ee1bee3205672ac3786dc3b540c.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Almond</p>
        </div> 
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/522a331d164f8cbb039068e50a761a23.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Egg</p>
        </div> 

    </div>


    <button>
        <a  class="butt" [routerLink]="['/resualt']">Submit Ingrediant </a>
    </button>
    

</div>





<!-- randos -->



<div class="random_recipes">

    <h1>Random Recipes</h1>

    <div class="all_food">

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/cc70eaf1736c8ee808f2bef4d355d172.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">Tajin Cheyah</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/475a12c0af82e6cb859b5d015eec9128.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">strawberry cream</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/bebf9c1cd6e11c00385d6f47a7779365.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">Royal Shrimp</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/403adc86311dd0ca4a83c0fc7c2272a5.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">Cup Cake</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/c439063beba8268a3bed22108c54a72c.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">Toasted EGG</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/9441dfb0e28d7ba41bf5180307f7b856.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">Hamburger</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/67301cd6995a8e3ad50dfdb5d009dcc9.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">Choclate Waffels</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <a [routerLink]="['/recipe']"><img class="food_pic" src="../../assets/images/food/82bd180838c96c6b60d23df883b5aed0.jpg" alt=""></a>
            <div class="food_like">
                <a [routerLink]="['/recipe']">Smoked Ribs</a>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

    </div>

</div>





<!-- flags -->


<div class="country">

    <h1>Recipes by Country</h1>

    <div class="flags">
        <img class="fla" src="../../assets/images/flags/Ellipse 10.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 11.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 12.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 13.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 14.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 15.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 3.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 4.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 5.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 6.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 7.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 8.png" alt="">
        <img class="fla" src="../../assets/images/flags/Ellipse 9.png" alt="">
    </div>

</div>
