<img class="slider" src="../../assets/images/slider.png" alt="">


<div class="select">
    
    <h1>Choose Your Ingredient</h1>
    
    <input class="search" type="text" placeholder="Search for your ingrediants">
    
    <div class="ingrediants">
        
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/41455533fbd6ea448b29c38a9d6ffece.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Oil</p>
        </div>
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/6d155ae7a1ae3c04fe59919c9dd6273c.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Tomato</p>
        </div>
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/15095a53b34c90265ddcc609a5d14064.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Carrot</p>
        </div>  
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/a1bd1e91a3a97ee045604fe8454afaa0.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Onion</p>
        </div> 
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/902b80f39b3ba2a316aaa51136dfd032.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Spinach</p>
        </div> 
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/71827d02865f331a89e8bdb99be96c5c.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Garlic</p>
        </div>  
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/f7b60ee1bee3205672ac3786dc3b540c.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Almond</p>
        </div> 
        <div class="selected_ing">
            <img class="ing" src="../../assets/images/ingrediants/522a331d164f8cbb039068e50a761a23.jpg">
            <img class="close" src="../../assets/images/ingrediants/cross.png">
            <p>Egg</p>
        </div> 

    </div>


    <button>
        <a  class="butt" [routerLink]="['/resualt']">Submit Ingrediant </a>
    </button>
    

</div>

<app-random-recipes></app-random-recipes>

<app-country></app-country>






