<div class="random_recipes">
    <h1>Random Recipes</h1>
    <mat-spinner *ngIf="loading==true"></mat-spinner>
    <div class="all_food" *ngIf="!loading"> <!-- Only show recipes when not loading -->
      <div class="food" *ngFor="let meal of meals">
        <a [routerLink]="['/recipe']">
          <img class="food_pic" [src]="meal.image" alt="">
        </a>
        <div class="food_like">
          <a [routerLink]="['/recipe']">{{ meal.name }}</a>
          <img class="like" src="../../assets/images/food/like.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  