<div class="random_recipes">

    <h1>Random Recipes</h1>

    <div class="all_food">

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/cc70eaf1736c8ee808f2bef4d355d172.jpg" alt="">
            <div class="food_like">
                <p>Tajin Cheyah</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/475a12c0af82e6cb859b5d015eec9128.jpg" alt="">
            <div class="food_like">
                <p>strawberry cream</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/bebf9c1cd6e11c00385d6f47a7779365.jpg" alt="">
            <div class="food_like">
                <p>Royal Shrimp</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/403adc86311dd0ca4a83c0fc7c2272a5.jpg" alt="">
            <div class="food_like">
                <p>Cup Cake</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/c439063beba8268a3bed22108c54a72c.jpg" alt="">
            <div class="food_like">
                <p>Toasted EGG</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/9441dfb0e28d7ba41bf5180307f7b856.jpg" alt="">
            <div class="food_like">
                <p>Hamburger</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/67301cd6995a8e3ad50dfdb5d009dcc9.jpg" alt="">
            <div class="food_like">
                <p>Choclate Waffels</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

        <div class="food">            
            <img class="food_pic" src="../../assets/images/food/82bd180838c96c6b60d23df883b5aed0.jpg" alt="">
            <div class="food_like">
                <p>Smoked Ribs</p>
                <img class="like" src="../../assets/images/food/like.svg" alt="">
            </div>
        </div>

    </div>

</div>