<div class="container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Ingredients</mat-label>
        <input matInput
               aria-label="Ingredient"
               [matAutocomplete]="auto"
               [formControl]="ingredientCtrl">
               
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient" (onSelectionChange)="onOptionSelected($event, ingredient)">
            <img alt="" class="example-option-img" [src]="ingredient.image" height="25">
            <span>{{ ingredient.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <p>Selected Ingredients:</p>
      <div class="selected-ingredients-container">
        <div *ngFor="let selectedIngredient of selectedIngredients">
          <img alt="" class="example-option-img" [src]="selectedIngredient.image" height="25">
          <span>{{ selectedIngredient.name }}</span>
          <img (click)="removeSelectedIngredient(selectedIngredient)" class="close" src="../../assets/images/ingredients/cross.png">
        </div>
      </div>
    </form>
  </div>
  