<div class="select">

    <h1>Choose Your Ingredient</h1>
    
    

      <!-- Display the autocomplete input -->
      <mat-form-field class="field">
        <mat-label>Type Here ...</mat-label>
        <input matInput
                id="ingredientInput"
                aria-label="Ingredient"
                [matAutocomplete]="auto"
                [formControl]="ingredientCtrl"
                (input)="onInputChange($event)">
  
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" class="auto">
            <mat-option *ngFor="let ingredient of filteredIngredients" [value]="ingredient" (click)="onOptionSelected(ingredient)">
                <img alt="" class="example-option-img" [src]="ingredient.image" height="25">
                <span>{{ ingredient.name }}</span>
                </mat-option>
             </mat-autocomplete>
        </mat-form-field>

        <!-- Display the input for selected ingredients -->
        <h3>Your Ingredients:</h3>

        <div class="selected-ingredients-container">

            <div class="ingrid" *ngFor="let selectedIngredient of selectedIngredients">

                <img alt="" class="example-img" [src]="selectedIngredient.image" height="25">

                <span>{{ selectedIngredient.name }}</span>

                <img (click)="removeSelectedIngredient(selectedIngredient)" class="close" src="../../assets/images/ingrediants/cross.png">
                
            </div>
        </div>
  





    <button>
        <a  class="butt" [routerLink]="['/resualt']">Submit Ingrediants</a>
    </button>
    

</div>

  