header {
    width: 100%;
    background: #DE5F35 ;
    box-shadow: #00000029 0px 3px 15px, rgba(0, 0, 0, 0.23) 0px 3px 15px;
}

.logo {
    width: 100px;
    height: 24px;
    background: url(../../assets/images/logo-Cream.png) center/contain no-repeat;
}

.header_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    padding-left: 10%;
    padding-right: 10%;
}

.header_logo {
    width: 100px;
    height: auto;
}

.header_text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 32px;
    width: 32%;
}

.header_text p {
    white-space: nowrap;
    color: white;
}

.header_text a {
    text-decoration: none;
}
